extends ../head

append css
	link(rel='stylesheet' href='/css/dynatable.css')

append js
	script(src='/js/dynatable.js')
	script(type='text/javascript')
			$(document).ready(function() {
			$('#dynatable').dynatable();
			});

block content
	.container
			.proposals-header
				h2(style='float:left;')= title 
	.container
		table.table-striped.table#dynatable
			if supplementals.length != 0
				thead
					tr
						th Supplemental
						th Author
						th Proposal
						th Votes
				tbody
					- each supplemental in supplementals
						tr
							td: a(href='/supplemental/view/#{supplemental.id}') #{supplemental.Title}
							td #{supplemental.Author}
							td: a(href='/proposals/#{supplemental.Year}/#{supplemental.Number}') #{supplemental.Year} - #{supplemental.Number}
							td= supplemental.voteCount
			else
				p There are currently no submitted supplementals


				Proposal year, number, quarter, title, status [funded, partial, not funded], category, department, org codes, primary [name, phone, netid], budget [name, phone, netid]

				filter by quarter and year1