extends ../head

append js
	//script(src='/js/vendor/toastr.js')
	script(src='/js/proposalsview.js')

append css
	link(rel='stylesheet', href='/css/proposalview.css')

block content
	.container
		h2.title= proposal.ProposalTitle
		p.subtitle In #{categories[proposal.Category].name}
		if proposal.Status == 0
			p.draft-alert This is a draft proposal, and has not been submitted yet. Information is subject to change.
			if editor
				p: a(href='/proposals/update/#{proposal.Year}/#{proposal.Number}') Return to Update Page
		.well
			.row
				.col-sm-12.col-md-4
					h3 Basic Info
					table.basic
						tbody
							tr
								th Proposal ID
								td  #{proposal.Year}-#{proposal.Number}
							tr
								th Created
								if proposal.Quarter
									td #{created} (#{proposal.Quarter})
								else
									td= created
							tr
								th Department
								td= proposal.Department
							tr
								th Status
								td !{status}
							tr
								if isAdmin || isCommitteeMember
									th Metrics
									if proposal.Status == 0
										td: | View Metrics
									else
										td: a(href='/metrics/#{proposal.Year}/#{proposal.Number}') View Metrics


							if rejection
								tr
									th Letter
									td: a(href='/proposals/rejection/#{proposal.Year}/#{proposal.Number}') View Letter

				.col-sm-12.col-md-8
					h3 Contact Info
					.row.contacts.rowsContact
						.col-xs-12.col-sm-6.col-md-6.colsContact
							table
								tbody
									th.contactType Primary
									tr
										th Name
										td= proposal.PrimaryName
									tr
										th Title
										td= proposal.PrimaryTitle
									tr
										th Phone
										td= proposal.PrimaryPhone
									tr
										th NetID
										td= proposal.PrimaryNetId
									tr
										th Mailbox
										td= proposal.PrimaryMail
						.col-xs-12.col-sm-6.col-md-6.colsContact
							table
								tbody
									th.contactType Budget
									tr
										th Name
										td= proposal.BudgetName
									tr
										th Title
										td= proposal.BudgetTitle
									tr
										th Phone
										td= proposal.BudgetPhone
									tr
										th NetID
										td= proposal.BudgetNetId
									tr
										th Mailbox
										td= proposal.BudgetMail
			.row
				if award
					.col-sm-12.col-md-4
						h3 Reports
						table.basic
							tbody
								tr
									th Letter
									td: a(href='/proposals/award/#{proposal.Year}/#{proposal.Number}') View
									// only for reporter eyes... for now
									if reporter && (proposal.Status == 4 || proposal.Status == 5)
										- var reportNumber = 1;
										- var annual = false;
										if reports.length > 0
											each report, index in reports
												tr
													th Report (#{moment(report.DueDate).format('MMM D[,] YYYY')})
														- reportNumber++;
														if report.Status == 0
															if report.Type == 0
																td: a(href='/reports/update/#{report.id}') Edit Quarterly Report
															if report.Type == 1
																td: a(href='/reports/update/#{report.id}') Edit Annual Report
																- annual = true;
														else
															if report.Type == 0
																td: a(href='/reports/#{report.id}') View Quarterly Report
															if report.Type == 1
																td: a(href='/reports/#{report.id}') View Annual Report

										if ((award.ReportType == 0 && reports.length < 4) || (award.ReportType == 2 && reports.length < 5))
											tr
												th Quarterly Report
												td: a(href='/reports/create/quarterly/#{proposal.id}/' + reportNumber) Create
										
										if ((award.ReportType == 1 || award.ReportType == 2) && !annual)
											tr
												th Annual Report
												td: a(href='/reports/create/annual/#{proposal.id}') Create
					.col-sm-12.col-md-8
						.row.contacts.rowsContact
							.col-xs-12.col-sm-6.col-md-6.colsContact
								table
									tbody
										th.contactType Dean
										tr
											th Name
											td= proposal.DeanName
										tr
											th Title
											td= proposal.DeanTitle
										tr
											th Phone
											td= proposal.DeanPhone
										tr
											th NetID
											td= proposal.DeanNetId
										tr
											th Mailbox
											td= proposal.DeanMail
				else
					.col-sm-12.col-md-8.col-md-offset-4
						.row.contacts.rowsContact
							.col-xs-12.col-sm-6.col-md-6.colsContact
								table
									tbody
										th.contactType Dean
										tr
											th Name
											td= proposal.DeanName
										tr
											th Title
											td= proposal.DeanTitle
										tr
											th Phone
											td= proposal.DeanPhone
										tr
											th NetID
											td= proposal.DeanNetId
										tr
											th Mailbox
											td= proposal.DeanMail
							.col-xs-12.col-sm-6.col-md-6.colsContact
								table
									tbody
										th.contactType Student
										tr
											th Name
											td= proposal.StudentName
										tr
											th Title
											td= proposal.StudentTitle
										tr
											th Phone
											td= proposal.StudentPhone
										tr
											th NetID
											td= proposal.StudentNetId
										tr
											th Mailbox
											td= proposal.StudentMail
		h3 Abstract
		p= proposal.Abstract
		h3 Background
		p= proposal.Background
		h3 Estimated Student Usage
		p.subtitle About #{proposal.StudentsEstimated} are predicted to use this equipment on a quarterly basis
		p= proposal.EstimateJustification
		h3 Research and Scholarship
		p= proposal.ResearchScholarship
		h3 Educational Experience
		p= proposal.EducationalExperience
		h3 Career Enhancement
		p= proposal.CareerEnhancement
		h3.title Access Restrictions
		p.subtitle Access available #{proposal.Days} for #{proposal.Hours} hours
		p= proposal.AccessRestrictions
		h3 Outreach Strategy
		p= proposal.Outreach
		h3 Proposal Timeline
		p= proposal.ProposalTimeline
		h3 Human Resources
		p= proposal.HumanResources
		h3 Technology Resources
		p= proposal.TechnologyResources
		h3 Financial Resources
		p= proposal.FinancialResources
		if proposal.Protection
			h3 Equipment Protection
			p= proposal.Protection
		if proposal.proposalFeedback && (isCommitteeMember || isAdmin) 
			h3 STF Feedback
			p= proposal.proposalFeedback
		h3 Endorsements
		if endorsements
			each endorsement in endorsements
				.endorsement
					-var date = new Date(endorsement.createdAt);
					h4= endorsement.Name + " (" + endorsement.NetId + ") on " + (date.getMonth() + 1) + "/" + date.getDate()
					p= endorsement.Message
		else 
			p There are no endorsements for this proposal
		if proposal.Status == 1
			a(href="/proposals/endorsements/#{proposal.id}") Write an endorsement

		h3 Items
		if editor
			p.
				As an editor for this proposal, you may change the items below to reflect changes to prices, quantity, or specific item. It's a good idea to not change your proposal too much from its original purpose.

		if partials.length > 0
			| Partials 
			select#partial.form-control
				if proposal.Status == 4
					option(id='0' value='') Funded Original Proposal Items
				else 
					option(id='0' value='') Original Proposal Items 
				each partial in partials
					if proposal.PartialFunded == partial.id && proposal.Status == 5
						option(id='#{partial.id}' value='' selected) #{"Funded Partial by " + usersPartial[partial.AuthorId].NetId + ': ' + partial.Title} 
					else 
						option(id='#{partial.id}' value='') #{usersPartial[partial.AuthorId].NetId + ': ' + partial.Title} 

		input(id='proposalId' type='hidden' value='#{proposal.id}' )
		if isCommitteeMember || isAdmin
			a(href='/partials/new/#{proposal.id}' id='partialLink') Create Partial
			br

		if supplementals.length > 0
			br
			| Supplementals
			select#supplemental.form-control
				option(id='0' value='') Select a Supplemental
				each supplemental in supplementals
					if supplemental.Status == 1
						option(id='#{supplemental.id}' value='' selected) #{"Funded Supplemental by " + supplemental.Author + ': ' + supplemental.Title}
					else
						option(id='#{supplemental.id}' value='') #{supplemental.Author + ': ' + supplemental.Title}

		input(id='proposalId' type='hidden' value='#{proposal.id}')
		
		a(href='/supplementals/' id='supplementalLink' style="display:none;") View Supplemental
		
		if reporter || isAdmin
			a(href='/supplementals/new/#{proposal.id}') Create Supplemental

		div(style='overflow-x:auto;')
			-var total = 0;
			table.0.items(class='#{(proposal.Status == 4 ? "funded" : "" )}')
				tr.item-head
					th Item
					th Group
					th Unit Price
					th Quantity
					th Subtotal
				
				each item in items
					if item.SupplementalId === null && item.PartialId === null
						+item(item)
				+total()


			each partial in partials
				table(class='#{partial.id} #{partial.id == proposal.PartialFunded && proposal.Status == 5 ? "funded" : ""}').items.hidden
					
					tr.item-head
						th Item
						th Group
						th Unit Price
						th Quantity
						th Subtotal		

					each item in items
						if item.PartialId == partial.id	&& item.SupplementalId == null
							+item(item)
					+total()

			each supplemental in supplementals
				table(class='#{supplemental.id} #{supplemental.Status == 1 ? "funded" : ""}').items.hidden
					
					tr.item-head
						th Item
						th Group
						th Unit Price
						th Quantity
						th Subtotal		

					each item in items
						if item.SupplementalId == supplemental.id	
							+item(item)
					+total()


mixin item(item)
	tr.item-info.info-first-line
		if editor
			if item.LocationId
				td <h4>#{item.ItemName}</h4> (<a href='/item/#{item.id}'>edit</a> / <a href='/item/location/#{item.id}'>edit location</a>)
			else
				td <h4>#{item.ItemName}</h4> (<a href='/item/#{item.id}'>edit</a> / <a href='/item/location/#{item.id}'>add location</a>)
		else
			if item.LocationId
				td <h4>#{item.ItemName}</h4>(<a href='/item/location/#{item.id}'>view location</a>)
			else 
				td: h4= item.ItemName
		td= item.Group
		td= "$" + item.Price.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")

		td= item.Quantity
		td= "$" + (Math.round(item.Price * item.Quantity * 100) / 100).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
	tr.item-info
		td(colspan='5')
			span Description: 
			| #{item.Description}
	tr.item-info.info-last-line
		td(colspan='5')
			span Justification: 
			| #{item.Justification}

	-total+= (Math.round(item.Price * item.Quantity * 100) / 100);

mixin total() 
	tr.item-head
		td: h3 Summary
		td 
		td 
		td 
		td Total
	tr.item-head
		td
		td
		td
		td
		td= '$' + total.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
	-total = 0;
