import React from 'react'
import PropTypes from 'prop-types'

const <%= helpers.capitalize(name) %> = () => (
  <div>
    Dumb Component for <%= helpers.capitalize(name) %>
  </div>
)

<%= helpers.capitalize(name) %>.propTypes = {}
<%= helpers.capitalize(name) %>.defaultProps = {}
export default <%= helpers.capitalize(name) %>
