import React from 'react'
import PropTypes from 'prop-types'

function <%= helpers.capitalize(name) %>(props, context) {
  return (
    <div>
      Smart component for <%= helpers.capitalize(name) %>
    </div>
  )
}

<%= helpers.capitalize(name) %>.propTypes = {}
<%= helpers.capitalize(name) %>.defaultProps = {}
export default <%= helpers.capitalize(name) %>
